# Configuración del Servidor
API_PORT=3000

# Conexión PostgreSQL — Opción A: URL Completa (Recomendado para Neon, Supabase, Render)
# DATABASE_URL=postgresql://usuario:contraseña@ep-ejemplo.us-east-2.aws.neon.tech/neondb?sslmode=require

# Conexión PostgreSQL — Opción B: Variables individuales (Local o servidores estándar)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=juego_ddd
DB_SSL=false
